html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

button:focus {
  outline: none;
}

header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid black;
}

header > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header-name {
  flex: 1;
}

.header-name input {
  width: 100%;
  background: transparent;
  border: none;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  margin-left: 5px;
  border-bottom: 1px solid transparent;
}

.header-name input:hover,
.header-name input:focus {
  border-bottom: 1px solid gray;
  outline: none;
}

.header-name input:not(:focus) {
  cursor: pointer;
}

.header-coords {
  user-select: none;
}

.coord-label {
  text-transform: uppercase;
  font-size: 0.5rem;
  margin-left: 10px;
}

.button-refresh-colors {
  background: none;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.3s;
}

.button-refresh-colors:hover {
  transform: scale(1.1);
}

.button-erasor {
  background: none;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.3s;
  border: 1px solid #ddd;
  padding: 2px 7px;
}

.button-erasor:hover {
  transform: scale(1.1);
}

.button-erasor input {
  opacity: 0;
  position: absolute;
}

.set-color {
  display: flex;
  align-items: center;
}

.color-picker {
  border: none;
  padding: 0;
}

.color-picker input {
  opacity: 0;
  position: absolute;
}

.color-picker span {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 5px 15px;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.3s;
}

.color-picker label {
  cursor: pointer;
}

.color-picker label:hover span {
  transform: scale(1.1);
}

.color-picker input:checked + span {
  transform: scale(1.3);
}

.width-picker {
  border: none;
  padding: 0;
}

.width-picker input {
  opacity: 0;
  position: absolute;
}

.width-picker span {
  content: '';
  display: inline-block;
  margin: 5px 15px;
  border: 1px solid black;
  border-radius: 50%;
  transition: 0.3s;
}

.width-picker label {
  cursor: pointer;
}

.width-picker label:hover span {
  transform: scale(1.1);
}

.width-picker input:checked + span {
  transform: scale(1.3);
}

.button-and-canvas > div {
  padding: 3px;
  padding-left: 100px;
}

.button-and-canvas button {
  transition: 0.3s;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 2px;
}

.button-and-canvas button:hover {
  transform: scale(1.1);
}

canvas {
  overflow: scroll;
  cursor: crosshair;
  display: block;
  margin: 0 auto;
  border: 1px solid #ddd;
}


